body{

    text-align: center;
    background-image: linear-gradient(to right,rgb(34, 34, 46),rgb(9, 9, 66));
}
h1{
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 60px;
}
h2{
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
button{
    width: 25%;
    height: 250px;
    background-image: linear-gradient(to right,rgb(204, 204, 204),rgb(98, 98, 109));
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 60px;
    transition: 400ms;
}
button:hover{
    width: 27%;
    height: 265px;
    background-image: linear-gradient(to right,rgb(204, 204, 204),rgb(98, 98, 109));
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 60px;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    color: rgb(28, 46, 46);
    text-decoration: none;
}
