body{

    text-align: center;
    background-image: linear-gradient(to right,rgb(34, 34, 46),rgb(9, 9, 66));
    text-align: center;
}
div{
    text-align: center;
    margin: 20px;
}
button{
    width: 420px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to right,rgb(204, 204, 204),rgb(98, 98, 109));
    transition: 600ms;
}
button:hover{
    width: 430px;
    height: 60px;
}
img{
    width: 200px;
    border-radius: 20px;
    transition: 700ms;
}
img:hover{
    width: 225px;
    border-radius: 40px;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    color: rgb(28, 46, 46);
    text-decoration: none;
}
h2{
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}